<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!--Import bootstrap.css-->
  <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.css" />
  <link rel="stylesheet" href="../css/main.css">
  <title>Lyft</title>
</head>

<body>
  <div class="container-fluid container-final">
    <div class="row  justify-content-center align-items-center min-height">
      <figure class="col-4 col-md-2">
        <img src="../assets/images/logo-pink.png" class="img-fluid">
      </figure>
    </div>
    <div class="row justify-content-center my-3">
      <h4 class="text-center">Tu registro ha sido exitoso</ha>
    </div>
    <div class="row justify-content-center">
      <button type="button" class="btn btn-light btn-started">Get started!</button>
    </div>
  </div>

  <!-- script -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
    crossorigin="anonymous"></script>
  <script src="../vendors/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>