<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!--Import bootstrap.css-->
  <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.css" />
  <link rel="stylesheet" href="../css/main.css">
  <title>Lyft</title>
</head>

<body>

  <div class="container-fluid bg-img">
    <div class="row align-items-start justify-content-center height-row">
      <figure class="col-3 col-md-1 my-2">
        <img src="../assets/images/logo-white.png" class="img-fluid">
      </figure>
    </div>
    <div class="row align-items-end justify-content-center height-row">
      <a type="a" class="btn btn-light col-4 col-md-2 mb-4 mx-2 py-3" href="#" role="a">LOG IN</a>
      <a type="a" class="btn btn-light col-4 col-md-2 offset-md-1 mb-4 py-3" href="view-2.html" role="a">SIGN UP</a>
    </div>
  </div>

  <!-- script -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
    crossorigin="anonymous"></script>
  <script src="../vendors/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>